
* {
    margin: 0;
    padding: 0;
}

body {
    background: #d3d9de;
}

input {
    width: 25vw;
    height: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}

.form-container {
    width: 50vw;
    height: 50vh;
    background: #fff;
    border: #99a2ad;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "Roboto Light", sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #000c1a;
}

.form-heading {
    margin-top: 5%;
}

.subheading {
    margin: 20px 30px 30px 30px;
    font-size: 14px;
}

#url {
    border-radius: 8px;
    border-color: cornflowerblue;
}

.sub-btn {
    background-color: #447bba;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.copylink-button{
    background: none;
    border: none;
    margin: 20px 30px;
    cursor: pointer;
    color: #0000ff;
}

#shortUrl {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #14142db5;
}

.sign-in-form {
    margin: auto;
}

#username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.report-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.report-section {
    width: 50vw;
    height: 10vh;
    background: #fff;
    border: #99a2ad;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: "Roboto Light", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #14142db5;
    margin-top: 8px;
    padding: 10px;
}




